* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-size: 14px;
    padding: 0;
    color: #cdd6f4;
    border-radius: 4px;
}

window#waybar {
    background: #1e1e2e;
    border: 2px solid #a6e3a1;
}

tooltip {
    background-color: #1e1e2e;
    border: 2px solid #a6e3a1;

}

tooltip > * {
    margin: 2px;
}


#clock,
#tray,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-currentlayout,
#custom-dunst-dnd,
#custom-power,
#mpris,
#custom-gay,
#power-profiles-daemon,
.power-item > *,
#window {
    background-color: transparent;
    border: 1px solid #45475a;
    color: #cdd6f4;
    margin: 8px 6px 8px 0px;
    padding: 2px 8px;
}

window#waybar.empty #window {
    border: none;
    margin: 0;
    padding: 0;
}

#clock {
    margin-right: 8px;
}

#image.album-art {
    margin-right: 6px;
    border-radius: 4px;
}
#pulseaudio-slider {
    padding: 0 20px;
}

#mpris {
    margin: 8px 0 8px 0
}

#custom-power {
    margin-left: 8px;
    padding: 2px 1px 2px 8px;
}

#custom-dunst-dnd {
    padding: 2px 3px 2px 8px;
}

#battery { /* Extra right padding */
    padding: 2px 10px 2px 8px;
}

#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#custom-currentlayout:hover,
#custom-dunst-dnd:hover,
#custom-power:hover,
#mpris:hover,
#power-profiles-daemon:hover,
.power-item > *:hover {
    background-color: #313244;
}

#battery.warning,
#battery.critical,
#battery.urgent,
#cpu.critical,
#memory.critical {
    background-color: #1e1e2e;
    border: 2px solid #f38ba8;
    color: #f38ba8;
}

menu {
    border-radius: 4px;
    background: #1e1e2e;
    color: #cdd6f4;
    border: 2px solid #a6e3a1;
    padding-top: 14px;
    padding-bottom: 14px;
}
